build/
updates/
.vscode
.DS_Store

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
buildServer.json
bin
# scripts (removed - we use this folder for reload.sh etc.)
tools
ExportOptions.plist
HexCore/.build
HexCore/.swiftpm/xcode/xcuserdata/kit.xcuserdatad/xcschemes
OctCore/.build
OctCore/.swiftpm/xcode/xcuserdata/
FluidAudio/
node_modules/
.npm-cache/
.tmp/

# Claude
.claude/
.build/
